numpy
pandas
openai
langchain
langchain-cli
langsmith
pinecone-client
python-dotenv
pypdf
chromadb
tiktoken
lark
panel
params
doctran
sentence_transformers
jupyter_bokeh
rapidocr-onnxruntime
jedi
unstructured
unstructured[docx]
unstructured[all-docs]
poppler-utils
pandoc